@tailwind base;
@tailwind components;
@tailwind utilities;
                        

/* Container box */
.ev-box {
  margin-top: 120px;
  background: rgba(255, 255, 255, 0.8);
  padding: 3.5rem 2.5rem 2.5rem; 
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.18);
  min-width: 800px; 
  max-width: 800px;                                    
  min-height: 400px; 
  max-height: 600px;
  align-items: center;          
  margin: 2rem auto;           
}


.ev-input-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.ev-input-row input {
  border-radius: 8px !important;
}

.ev-input-row input:focus {
  border-color: var(--turksat-main) !important;
  box-shadow: 0 0 4px rgb(0, 133, 118, 0.4) !important;
}


.ev-button-row {
  display: flex !important;        
  justify-content: center;
  gap: 250px !important;  
}


.ev-next-btn,
.ev-back-btn {
  height: 35px;
  min-width: 100px;
  border-radius: 8px;
  padding: 0.6rem 1rem;
  font-weight: 500;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 0.3rem;
  font-family: var(--font-sohogothic);
  background-color: var(--turksat-main);
  color: var(--white);
  border: 2px solid var(--turksat-main);
}

.ev-next-btn:hover,
.ev-back-btn:hover {
  background-color: var(--blue-dark) !important;
  color: var(--white) !important;
  border-color: var(--blue-dark) !important;
}



.ev-success {

}
