@tailwind base;
@tailwind components;
@tailwind utilities;
                        
/* ---------------- Roots ---------------- */ 

:root { 
  --font-sohogothic: 'SohoGothic', sans-serif;
  --turksat-main: #009BDA;
  --turksat-second: #53626F;
  --turksat-green:  #008576;
  --turksat-purple: #614D7D;
  --turksat-gray: #C5CBD1;
  --blue-dark: #21578A;
  --blue-lightest: #E6F6FC;
  --white: #FFFFFF;
  --red: #D32F2F;
}

html, body {  
  height: 100%;
  margin: 0;
  padding: 0;
  background: radial-gradient(circle 1000px at center, var(--turksat-main), var(--turksat-green));
  font-family: var(--font-sohogothic);
}

/* ---------------- Turksat Special Fonts ---------------- */  

/* Regular */
@font-face {
  font-family: 'SohoGothic';
  src: url('../assets/fonts/SohoGothicPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'SohoGothic';
  src: url('../assets/fonts/SohoGothicPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'SohoGothic';
  src: url('../assets/fonts/SohoGothicPro-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

/* Bold Italic */
@font-face {
  font-family: 'SohoGothic';
  src: url('../assets/fonts/SohoGothicPro-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: 'SohoGothic';
  src: url('../assets/fonts/soho-gothic-pro-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* ---------------- HTML Texts ---------------- */

h2 {  /* done */
  font-family: var(--font-sohogothic);
  font-size: 2rem;
  color: var(--blue-dark);
  margin-bottom: 3rem;
  text-align: center;
}

p {  /* should be somewhere else */
  font-family: var(--font-sohogothic);
  font-weight: 400;
  color: var(--turksat-second);
}

/* ---------------- Shared Components ---------------- */

.main-background {  /* done */
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-sohogothic);
}


/* reCAPTCHA Container */ /* could use work depending on where is it */

.captcha-container { 
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
}

.captcha-container iframe {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Steps */ /* there is a problem between Register.jsx and Verification.jsx requiring different types*/

.steps .ant-steps-item.ant-steps-item-active .ant-steps-item-icon {
  background-color: var(--turksat-main) !important;
  border-color: var(--turksat-main) !important;
  color: var(--turksat-gray) !important;
}

.steps .ant-steps-item.ant-steps-item-finish .ant-steps-item-icon {
  background-color: var(--blue-dark) !important;
  border-color: var(--blue-dark) !important;
}

.steps .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: var(--white) !important;
}

.steps .ant-steps-item-tail::after {
  background-color: var(--turksat-second) !important; 
}

.steps .ant-steps-item-finish .ant-steps-item-tail::after {
  background-color: var(--turksat-main) !important; 
}

.steps .ant-steps-item-title {
  color: var(--turksat-second) !important;
  font-family: var(--font-sohogothic);
  font-size: 0.95rem;
  text-align: center;
  line-height: 1.2;
  white-space: normal;
}

.steps .ant-steps-item-description {
  color: var(--turksat-second) !important;
  font-size: 0.75rem;
  line-height: 1.1;
}
