@tailwind base;
@tailwind components;
@tailwind utilities;
                        

.ant-select-selector { /* all the ant designs... should be somewhere else again. */
  font-family: var(--font-sohogothic);
}

.p-toast {

}
.p-toast-message {
  font-family: var(--font-sohogothic);
  text-align: center;
}
/* Steps */

.p-steps {
  margin-bottom: 1rem;
}

.p-steps .p-steps-item .p-menuitem-link {
  background-color: transparent !important;
}

.p-steps .p-steps-number {
  font-family: var(--font-sohogothic);
  font-size: 0.95rem; 

}

.p-steps .p-steps-title {
  color: var(--turksat-second) !important;
  font-family: var(--font-sohogothic);
  font-size: 0.95rem;
  text-align: center;
  line-height: 1.5;
  white-space: normal;
}

.p-steps .p-steps-item.p-highlight .p-steps-number {
  color: var(--white) !important;            
  background-color: var(--turksat-main) !important;
  border-color: var(--turksat-main) !important;
}

.p-steps .p-steps-item.p-highlight .p-steps-icon {
  color: var(--white) !important;            
  background-color: var(--turksat-main) !important;
  border-color: var(--turksat-main) !important;
}

.p-steps .p-steps-item::before {
  height: 2px !important;          
  background-color: var(--turksat-second) !important;
}

.p-steps .p-steps-item.p-complete::before {
  background-color: var(--blue-dark) !important;
  height: 42x !important;
}

.p-button:active,
.p-button.p-button-active {
  background-color: initial; 
  border-color: initial;
  box-shadow: none !important;
}

.p-button:focus {
  outline: none !important;
  box-shadow: none !important;
}


.p-field-checkbox {
  margin-top: 3rem !important;
}


.p-field-checkbox .required {
  color: red;
}

.p-checkbox .p-checkbox-box:focus {
 border-color: var(--turksat-main) !important;
}


.p-checkbox.p-checkbox-checked .p-checkbox-box {
  background-color: var(--turksat-main) !important;
  border-color: var(--blue-dark) !important;
}

.p-fileupload-choose {
  font-family: var(--font-sohogothic); 
  font-size: 0.9rem;
  color: var(--white);                 
  background-color: var(--turksat-main); 
  height: 35px;
  border: none;                       
  cursor: pointer;                     
}


.p-fileupload-choose:hover {
  background-color: var(--blue-dark); 
}
