@tailwind base;
@tailwind components;
@tailwind utilities;
                        
/* ---------------- REGISTER.JSX EXCLUSIVE ---------------- */

.register-container {   

  margin-top: 100px;
  width:800px;
  min-width:800px;
  max-width: 800px; 
  min-height: 700px; 
  max-height: 950px; 
  margin: 100px auto 0 auto;
  padding: 3rem;
  border-radius: 14px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.8);
  text-align: left;
  justify-content: flex-start;
}

.register-container h2 { 
  margin-bottom: 4rem;
  text-align: center;
}

.register-step-content { 
  margin-bottom: 2rem;
  font-family: var(--font-sohogothic);
}

.register-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.register-buttons button {

  height: 40px;  
  min-width: 100px;
  border-radius: 8px;
  padding: 0.6rem 1rem;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 0.3rem;
}

.register-back-btn,
.register-next-btn {
  font-family: var(--font-sohogothic);
  background-color: var(--turksat-main);
  color: var(--white);
  border: 2px solid var(--turksat-main);
}

.register-back-btn:hover,
.register-next-btn:hover {
  background-color: var(--blue-dark) !important;
  color: var(--white) !important;
  border-color: var(--blue-dark) !important;
}

.form-row {
  display: flex;
  align-items: left;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.form-row label {
  width: 200px;  /* fixed label width */
  font-weight: 500;
  font-size: 0.9rem !important;
  margin-right: 1rem;
  text-align: left;
}

.form-row .p-inputtext,
.form-row .p-password,
.form-row .p-password-toggle-mask,
.form-row .p-dropdown,
.form-row .p-checkbox,
.form-row .p-inputnumber {
  flex: 1;  
  border-radius: 8px;
  font-size: 0.9rem !important;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.form-row p.input:focus,
.form-row .p-inputtext:focus,
.form-row .p-password:focus,
.form-row .p-dropdown:focus,
.form-row .p-checkbox:focus,
.form-row .p-inputnumber:focus {
  border-color: var(--turksat-main) !important;
  box-shadow: 0 0 4px rgb(0, 133, 118, 0.4) !important;
}

.register-password .p-password-toggle-mask{
  flex: 1 !important;  
  border-radius: 8px;
  font-size: 0.9rem !important;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.select-input {
  flex: 1;  
  border-radius: 8px;
  font-size: 0.9rem !important;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.select-input:focus {
  border-color: var(--turksat-main) !important;
  box-shadow: 0 0 4px rgb(0, 133, 118, 0.4) !important;
}

.password-wrapper {
  flex: 1 !important;             /* take available space */
}

/* Required asterisk */
.form-row label .required {
  color: red;           
  font-size: 1rem;   
}

.selector {
  width: 200px !important;
  height: 35px;
  font-family: var(--font-sohogothic);
  font-size: 0.9rem !important;
  font: var(--turksat-second);
  font-weight: 400;
  border-radius: 8px !important;
  border-color: var(--turksat-main) !important;
  
}

.selector:focus {
  border-color: var(--turksat-main) !important;
  box-shadow: 0 0 4px rgb(0, 133, 118, 0.4) !important;
}

.phone-input {
  height: 38px !important;
  text-align: left;
  width: 250px !important;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-left: 6rem !important;
}

.phone-input:focus {
  border-color: var(--turksat-main) !important;
  box-shadow: 0 0 4px rgb(0, 133, 118, 0.4) !important;
}

.phone-button {
  background-color: var(--white)!important;
  border-right: 1px solid #ccc !important;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  margin-left: 3.8rem !important;
  height: 38px !important;
}

.phone-button:focus {
  border-color: var(--turksat-main) !important;
  box-shadow: 0 0 4px rgb(0, 133, 118, 0.4) !important;
}


/* For mobile devices */

@media (max-width: 750px) {
  .register-container {
    padding: 2rem;
  }

  .register-buttons {
    flex-direction: column;
  }

  .register-buttons button {
    width: 100%;
  }
}


