@tailwind base;
@tailwind components;
@tailwind utilities;
                        

:root { /* ✅ */
  --font-sohogothic: 'SohoGothic', sans-serif;
  --turksat-main: #009BDA;
  --turksat-second: #53626F;
  --turksat-green:  #008576;
  --turksat-purple: #614D7D;
  --turksat-gray: #C5CBD1;
  --blue-dark: #21578A;
  --blue-lightest: #E6F6FC;
  --white: #FFFFFF;
  --red: #D32F2F;
}

html, body {  /* ✅ */
  height: 100%;
  margin: 0;
  padding: 0;
  background: radial-gradient(circle 1000px at center, var(--turksat-main), var(--turksat-green));
  font-family: var(--font-sohogothic);
}

/* ---------------- Turksat Special Fonts ---------------- */  /* ✅ */

/* Regular */
@font-face {
  font-family: 'SohoGothic';
  src: url('./assets/fonts/SohoGothicPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'SohoGothic';
  src: url('./assets/fonts/SohoGothicPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'SohoGothic';
  src: url('./assets/fonts/SohoGothicPro-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

/* Bold Italic */
@font-face {
  font-family: 'SohoGothic';
  src: url('./assets/fonts/SohoGothicPro-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: 'SohoGothic';
  src: url('./assets/fonts/soho-gothic-pro-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* ---------------- Shared Components ---------------- */

.main-background {  /* ✅ */
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-sohogothic);
}

.website-header {  /* ✅ */
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.8); 
  z-index: 1000;
  padding: 1rem 1.5rem; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.website-header .left-icons a {  /* ✅ */
  color: var(--turksat-main);
  font-size: 1.8rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem; 
  align-items: center;
}

.center-logo .logo {
  height: 30px; 
  object-fit: contain;
}

.website-header .right-buttons {  /* ✅ */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

p {
  font-family: var(--font-sohogothic);
  font-weight: 400;
  color: var(--turksat-second);
}

.ant-pane
.ant-checkbox-wrapper,
.info-column,
.login-column,
.ant-layout-sider,
.ant-form-item-label > label,
.ant-form-item-control-input input,
.ant-form-item-control-input textarea,
.ant-form-item-sele,
.ant-select-selector,
.ant-btn,
.ant-checkbox-wrapper {
  font-family: var(--font-sohogothic);
}

.panel {
  font-family: var(--font-sohogothic) !important;
}

.ant-form-item {
  margin-bottom: 1.5rem;
  font-weight: 300px;
}

/* Language Button */

.language-switcher {  /* ✅ */
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 0.5rem;
  z-index: 10;
}

.language-switcher .ant-segmented {  /* ✅ */
  border: 1px solid var(--turksat-main) !important;
  border-radius: 6px;
  background: transparent;
  padding: 2px;
  transition: height 0.3s ease, min-width 0.3s ease, gap 0.3s ease;
}

.language-switcher .ant-segmented-item {  /* ✅ */
  color: var(--turksat-main) !important;
  font-weight: 500;
  font-family: var(--font-sohogothic);
  transition: all 0.2s ease-in-out;
}

.language-switcher .ant-segmented-item:hover {  /* ✅ */
  background-color: rgb(0, 133, 118, 0.6) !important;
  color: var(--white) !important;
}

.language-switcher .ant-segmented-item-selected {  /* ✅ */
  background-color: var(--turksat-main) !important;
  color: var(--white) !important;
}

/* Dark Mode Button */

.dark-mode-button {  /* ✅ */
  display: flex;                 
  align-items: center;
  justify-content: center;
  height: 2rem;                
  min-width: 2.4rem;             
  padding: 2px 6px;              
  border: 1px solid var(--turksat-main);
  border-radius: 6px;
  background: transparent;
  color: var(--turksat-main);
  transition: all 0.2s ease-in-out; 
  cursor: pointer;
}

.dark-mode-button:hover {
  background-color: rgb(0, 133, 118, 0.6)  !important;
  border: var(--turksat-second);
  color: var(--white) !important;
}

/* reCAPTCHA Container */

.captcha-container {
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
}

.captcha-container iframe {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


/* Go Home Button */

.go-home-btn {
  position: fixed;      
  bottom: 40px;            
  left: 40px;                  
  color: var(--turksat-green)
}


/* Steps */

.steps .ant-steps-item.ant-steps-item-active .ant-steps-item-icon {
  background-color: var(--turksat-main) !important;
  border-color: var(--turksat-main) !important;
  color: var(--turksat-gray) !important;
}

.steps .ant-steps-item.ant-steps-item-finish .ant-steps-item-icon {
  background-color: var(--blue-dark) !important;
  border-color: var(--blue-dark) !important;
}

.steps .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: var(--white) !important;
}

.steps .ant-steps-item-tail::after {
  background-color: var(--turksat-second) !important; 
}

.steps .ant-steps-item-finish .ant-steps-item-tail::after {
  background-color: var(--turksat-main) !important; 
}

.steps .ant-steps-item-title {
  color: var(--turksat-second) !important;
  font-family: var(--font-sohogothic);
  font-size: 0.95rem;
  text-align: center;
  line-height: 1.2;
  white-space: normal;
}

.steps .ant-steps-item-description {
  color: var(--turksat-second) !important;
  font-size: 0.75rem;
  line-height: 1.1;
}

/* ---------------- MAIN SCREEN.JSX EXCLUSIVE ---------------- */

.login-box {
  margin-top: 120px;
  background: rgba(255, 255, 255, 0.8);
  padding: 3.5rem 2.5rem 2.5rem; 
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.18);
  max-width: 1000px;          
  width: 90%;                  
  min-height: 500px;           
  text-align: left;            
  margin: 2rem auto;           
}


.logo-container {
  position: relative;          
  margin-bottom: 2rem;         
  border-radius: 12px;
  text-align: center;           
}


.logo { 
  max-width: 400px;           
  height: auto;
}

.login-box h2 {  /* ✅ */
  font-family: var(--font-sohogothic);
  font-size: 2rem;
  color: var(--blue-dark);
  margin-bottom: 3rem;
  text-align: center;
}

.input-group .ant-input-affix-wrapper{
  margin-bottom: 1.2rem;
  text-align: left;
}

.input-group label .ant-input-affix-wrapper{
  display: block;
  font-weight: bold;
  margin-bottom: 0.3rem;
  color: var(--blue-dark);
}

.input-group input[type="password"],
.input-group input {
  font-family: var(--font-sohogothic);
  width: 100%;
  padding: 0.7rem;
  border: 1px solid var(--turksat-main);
  border-radius: 8px; 
  outline: none;
  font-size: 1rem;
  background-color: var(--blue-lightest);
  transition: border-color 0.2s, box-shadow 0.2s;
}

.input-group input[type="password"],
.input-group input:focus {
  border-color: var(--turksat-main) !important;
  box-shadow: 0 0 4px rgb(0, 133, 118, 0.4) !important;
}

.ant-select-selector:hover,
.ant-input:hover {
 border-color: var(--turksat-main) !important;
}

.ant-input:focus,
.ant-input-focused,
.ant-select-focused .ant-select-selector {
  border-color: var(--turksat-main) !important;
  box-shadow: 0 0 4px rgb(0, 133, 118, 0.6) !important;
}

.ant-input-password:hover {
  border-color: var(--turksat-main) !important;
}

/* Focus state for input */
.ant-input-password input:focus {
  border-color: var(--turksat-main) !important;
  box-shadow: 0 0 4px rgb(0, 133, 118, 0.6) !important;
}

.ant-input-password:focus {
  border-color: var(--turksat-main) !important;
  box-shadow: 0 0 4px rgb(0, 133, 118, 0.6) !important;
}

.form-links {
  text-align: right;
  margin-bottom: 1rem;
}

.register-btn,
.login-btn {
  font-family: var(--font-sohogothic);
  background: var(--turksat-main) !important;
  color: var(--white) !important;
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  width: 100%;
  transition: background 0.2s ease-in-out;
}

.login-btn:hover {
  background: var(--blue-dark) !important; 
}

.register-btn:hover {
  background: var(--blue-dark) !important;
}

.forgot-link,
.faq-link {
  font-family: var(--font-sohogothic) !important;
  font-size: 0.9rem;
  color: var(--turksat-main);
  text-decoration: none;
}

.faq-link {
  margin-bottom: 10px;
}

.forgot-link:hover {
  text-decoration: underline;
  color: var(--turksat-second);
}

.faq-link:hover {
  text-decoration: underline;
  color: var(--turksat-second);
}

.register-section {
  margin-top: 1rem;
}

.contact-info {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: var(--font-sohogothic) !important;
  font-size: 1rem;
  color: var(--turksat-second);
}

/* ---------------- REGISTER.JSX EXCLUSIVE ---------------- */

.register-container {
  width: 90%;
  margin-top: 100px;
  max-width: 800px; 
  padding: 3rem;
  border-radius: 14px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.8);
  text-align: left;
  justify-content: flex-start;
}

.register-container h2 {
  font-family: var(--font-sohogothic);
  font-size: 2rem;
  color: var(--blue-dark);
  margin-bottom: 4rem;
  text-align: center;
}

.register-step-content {
  margin-bottom: 2rem;
  font-family: var(--font-sohogothic);
  font-weight: 300px;
}

.register-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.register-buttons button {
  min-width: 100px;
  border-radius: 8px;
  padding: 0.6rem 1rem;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}


.register-back-btn,
.register-next-btn {
  font-family: var(--font-sohogothic);
  background-color: var(--turksat-main);
  color: var(--white);
  border: 2px solid var(--turksat-main);
}

.register-next-btn:hover {
  background-color: var(--blue-dark) !important;
  color: var(--white) !important;
  border-color: var(--blue-dark) !important;
}

.register-back-btn:hover {
  background-color: var(--blue-dark) !important;
  color: var(--white) !important;
  border-color: var(--blue-dark) !important;
}

.register-container .ant-upload .ant-btn {
  background-color: var(--turksat-main) !important;
  color: var(--white) !important;
  border-radius: 8px;
}

.register-container .ant-upload .ant-btn:hover {
  background-color: var(--blue-dark);
}

/* Checkbox */
.register-container .ant-checkbox-wrapper {
  font-weight: 500;
  font-size: 0.95rem;
  color: var(--blue-dark);
}

/* reCAPTCHA spacing */
.register-container .captcha-container {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .register-container {
    padding: 2rem;
  }

  .register-buttons {
    flex-direction: column;
  }

  .register-buttons button {
    width: 100%;
  }
}

/* form.css */
.ant-form-item {
  margin-bottom: 1.5rem; /* more breathing room between inputs */
  gap: 1rem;
}

/* Makes labels left aligned */
.ant-form-item-label {
  text-align: left;
  padding-right: 1rem;
}

/* Add padding so inputs don’t touch edges */
.ant-form-item-control {
  padding-left: 0.5rem;
}